* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




:root 
{
    /* primary colors  */
    --Bright-Red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);

    /* neutral colors  */
    --dark-Grayish-Blue: hsl(227, 12%, 61%);
    --very-Dark-Blue: hsl(233, 12%, 13%);
    --very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* font size  */
    --font-size:16px;

    /* font size  */
    --font-size: 16px;
 
    /* font weight */
    --weight1: 400;
    --weight2: 500;
    --weight3: 700;
}

nav {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* gap: 100px */
    justify-content: space-between;
    margin: 40px 70px 100px;
    
}

.listing {
    /* border: 3px solid green; */
    display: flex;
    flex-direction:row;
    align-items: center;
    list-style-type: none;
    gap: 30px;

}
#get-started {
    background-color:var(--Bright-Red);
    padding: 5px 15px;
    border-radius: 20px;
    border: 0px;
    color: var(--very-Pale-Red);
}
#section-1 {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 70px 100px;

}
.section-1-text {
    /* border: 2px solid black; */
    display: flex ;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
}
.section-1-text h1 {
    font-size: 50px;
    color: var(--dark-blue);
    font-weight: var(--weight3);
    width: 100%;

}
.section-1-text p {
    font-size: var(--font-size);
    color: var(--dark-Grayish-Blue);
}

.section-1-img {
    width: 100%;
} 
.section-img img {
    width: 80%;
}


 
#section-2 {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 40px 70px 100px;
}

.first-part, 
.second-part {
    width: 100%;
}

.first-part {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.first-part h1 {
    color: var(--dark-blue);
    font-size: 40px;
    font-weight: var(--weight3);
}

.first-part p {
    font-size: var(--font-size);
    color: var(--dark-Grayish-Blue);
}
.second-part {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.no-1, .no-2, .no-3 {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.no-1 div, .no-2 div, .no-3 div  {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px ;
}
.color {
    background-color: var(--Bright-Red);
    border-radius: 15px;
    padding: 4px 20px;
    color: white;
    font-size: var(--font-size);

}

.no-1 div h3,
.no-2 div h3,
.no-3 div h3 {
    color: var(--dark-blue);
    font-size: 18px;
}
.no-1 div p,
.no-2 div p,
.no-3 div p {
    color: var(--dark-Grayish-Blue);
    font-size: 12px;
}

#section-3 {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    
}

 #section-3 h1 {
    font-size: 40px;
    color: var(--very-Dark-Blue);
 }
.sect-3-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.card-helpers {
    border: 2px solid black;
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
}
.card-one-img,
.card-two-img,
.card-three-img {
    width: 50px;
}
.sect-3-div-p-helper {
    text-align: center;
    color: var(--dark-Grayish-Blue);
    font-size: var(--font-size);
}
.sect-3-h3-helper {
    color: var(--very-Dark-Blue);
    font-size: 20px;
}
#get-started-inverse {
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    border: 0px;
    color: var(--Bright-Red);

}
#section-4 {
    background-color: var(--Bright-Red);
    font-size: 40pd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(/resources/bg-simplify-section-desktop.svg);
    margin: 50px 0 0 0;
    padding: 50px 130px 50px 130px;
}
#section-4 h1 {
    color: white;
}
